@charset "UTF-8";

body {
	background-color: #eee;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.close {
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
}

.txt {
	background-color: #fff;
	width: 200px;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}